:root {
  --main-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition-property: transform, visibility, opacity;
  transition-duration: 500ms;
}

h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0px auto;
}

.navigation .container {
  display: flex;
  justify-content: space-around;
  align-self: baseline;
}

.container-footer {
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: transform, visibility, opacity;
  transition-duration: 500ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 581px;
  width: 528px;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  margin: 20px 40px;
}

.modal-text {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.465;
  letter-spacing: 0.03em;
}

.modal-label {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 0.879;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 4px;
  display: flex;
  color: #757575;
}

.modal-input {
  width: 100%;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 11px 0px 11px 42px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--main-color);
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg {
  fill: var(--main-color);
}

.modal-div {
  position: relative;
}

.modal-svg {
  position: absolute;
  left: 15px;
  top: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area {
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 0.879;
  letter-spacing: 0.01em;
  color: #75757580;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus,
.modal-text-area:hover {
  border-color: var(--main-color);
}

.modal-checkbox-div {
  display: flex;
  justify-content: center;
}

.checkbox-lable-paragraf {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-block;
  padding-left: 5px;
}

.checkbox-input {
  display: none;
}

.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  border-radius: 3px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--main-color);
  border: none;
  background-image: url("../images/checkbox.svg");
  background-size: contain;
  border-radius: 3px;
  background-position: 100%;
  background-repeat: no-repeat;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  color: var(--main-color);
  text-decoration: underline;
}

.send {
  display: flex;
  justify-content: center;
}

.black-logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.908;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: black;
}

.white-logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.908;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #FFFFFF;
}

.blue-logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.908;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
}

.navigation-logo {
  padding: 18px 70px 0px 0px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.btn-send {
  font-family: var(--main-font);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  min-height: 50px;
  min-width: 200px;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn {
  background-color: var(--main-color);
  font-family: var(--main-font);
  cursor: pointer;
  align-items: center;
  height: 50px;
  width: 200px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: Center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.signe-up-btn {
  background-color: var(--main-color);
  cursor: pointer;
  position: relative;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.navigation-portfolio-list-item-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  cursor: pointer;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-portfolio-list-item-btn:focus,
.navigation-portfolio-list-item-btn:hover {
  background-color: var(--main-color);
  color: white;
}

.socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  fill: #FFFFFF;
  background-color: var(--main-color);
}

.navigation-link {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.026;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--main-color);
}

.navigation-mail {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.026;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 32px 25px 32px 331px;
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.026;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 32px 0px 32px 25px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mail:focus,
.navigation-mail:hover,
.navigation-tel:focus,
.navigation-tel:hover,
.envelop-tel:hover,
.envelop-tel:focus {
  color: var(--main-color);
}

.navigation-link-portfolio::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--main-color);
  width: 58px;
  height: 4px;
  top: 77px;
  border-radius: 2px;
}

.navigation-link-agency::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--main-color);
  width: 53px;
  height: 4px;
  top: 77px;
  border-radius: 2px;
}

.own-clients-link {
  display: flex;
  justify-content: center;
  height: 92px;
  width: 170px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.own-clients-link:hover,
.own-clients-link:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.come-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #FFFFFF;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.come-link:hover,
.come-link:focus {
  background-color: var(--main-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  align-self: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  margin: 0px 23px;
}

.address-list {
  display: flex;
  align-items: center;
}

.envelop-tel {
  margin-right: 10px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-header {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 696px;
  padding-bottom: 30px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.section-list {
  display: flex;
}

.section-list-item {
  margin: 94px 15px 0px 15px;
}

.section-list-header {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.section-list-span {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

.antena {
  align-items: center;
}

.antena-div {
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  align-items: center;
}

.section {
  margin-bottom: 94px;
}

.photo {
  display: flex;
  justify-content: space-between;
}

.photo-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-family: var(--main-font);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.026;
  letter-spacing: 0.03em;
}

.photo-list-item {
  position: relative;
}

.photo-list-item:not(:last-child) {
  margin-right: 30px;
}

.photo-list {
  display: flex;
}

.section4 {
  background-color: #F5F4FA;
}

.section4 .container {
  padding-bottom: 94px;
}

.section4-list-item {
  margin: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-header {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  text-align: Center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 35px;
  padding-top: 94px;
}

.section4-list-header {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section4-paragraf {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.socialmedia-icons {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 56px;
  margin-left: 32px;
  margin-bottom: 18px;
  margin-top: 16px;
}

.own-clients {
  display: block;
}

.own-clients-list {
  display: flex;
  margin-bottom: 94px;
}

.own-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2F303A;
}

.footer .container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

.address-address {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 9px;
}

.address-mail {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.address-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.come {
  margin-left: 70px;
  margin-top: 20px;
}

.come-paragraf {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.026;
  color: #FFFFFF;
}

.come-div {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 56px;
  margin-bottom: 18px;
  margin-top: 20px;
  fill: #FFFFFF;
}

.signe-up {
  margin-top: 20px;
  margin-left: 78px;
}

.signe-up-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signe-up-paragraf {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.026;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.signe-up-input {
  background-color: transparent;
  border: 1px solid #FFFFFF4D;
  border-radius: 4px;
  color: #FFFFFF4D;
  width: 358px;
  height: 50px;
  padding-left: 15px;
}

.signe-up-btn-paragraf {
  font-family: var(--main-font);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 10px 25px;
  text-align: left;
}

.signe-up-svg {
  position: absolute;
  top: 13px;
  left: 140px;
}

.navigation-portfolio-list {
  display: flex;
}

.navigation-portfolio-list-item {
  margin: 94px 4px 35px 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-portfolio-list-item:focus,
.navigation-portfolio-list-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.all-list {
  display: flex;
  flex-wrap: wrap;
}

.all-list-item {
  margin: 15px;
  width: 370px;
  height: 404px;
  background-color: #FFFFFF;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-list-item:focus,
.all-list-item:hover .anime-information {
  transform: translate(0, 0);
  transition-duration: 500ms;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.all-list-item-header {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 2px 24px;
}

.all-list-item-text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 2px 24px 20px 24px;
}

.anime-information {
  position: absolute;
  width: 370px;
  height: 294px;
  font: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
  transform: translate(0, 294px);
  transition-duration: 500ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anime-information:hover {
  transform: translate(0, 0);
  transition-duration: 500ms;
}

.all-list-item-div {
  position: relative;
  z-index: 999;
  overflow: hidden;
  background-color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */