:root {
    --main-font: "Roboto", sans-serif;
    --secondery-font: "Raleway", sans-serif;
    --main-color: #2196f3;
}
h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.body {
    font-family: var(--main-font);
}
/*=header=*/
.header {
    border-bottom: 1px solid #ECECEC;
}
.container{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0px auto;
}
.navigation .container{
    display: flex;
    justify-content: space-around;
    align-self: baseline;
}

.black-logo {
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: black;
}
.white-logo{
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
}
.blue-logo{
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);
}
.navigation{
    align-self: center;
}
.navigation-list{
    display: flex;
}
.navigation-list-item{
    margin: 32px 23px;
}
.navigation-logo{
    padding: 18px 70px 0px 0px;
}
.navigation-link{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    Letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--main-color);
}
.navigation-mail{
    Font-family: var(--main-font);
    font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 32px 25px 32px 331px;
    display: flex;
}
.navigation-tel{
    Font-family: var(--main-font);
    font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 32px 0px 32px 25px;
}
.navigation-mail:focus,
.navigation-mail:hover,
.navigation-tel:focus,
.navigation-tel:hover{
    color: var(--main-color);
}
.envelop-tel:hover,
.envelop-tel:focus{
    color: var(--main-color);
    fill:currentColor;
}

.address-list{
    display: flex;
    align-items: center;
}
.envelop-tel{
    margin-right: 10px;
    fill: currentColor;
}
/*=navigation portfolio=*/
.navigation-portfolio-list{
    display: flex;
}
.navigation-portfolio-list-item{
    margin: 94px 4px 35px 4px;
}
.navigation-portfolio-list-item:focus,
.navigation-portfolio-list-item:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.navigation-portfolio-list-item-btn {
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 500;
    Line-height: 1.625;
    Letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    cursor: pointer;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
}
.navigation-portfolio-list-item-btn:focus,
.navigation-portfolio-list-item-btn:hover{
    background-color: var(--main-color);
    color: white;
}

/*=all=*/
.all-list{
    display: flex;
    flex-wrap: wrap;
}
.all-list-item{
    margin: 15px;
    width: 370px;
    height: 404px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.all-list-item:focus,
.all-list-item:hover {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.all-list-item-header {
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 18px;
    font-weight: 700;
    line-height: 2.25;
    Letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 2px 24px;
}
.all-list-item-text{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    Letter-spacing: 0.03em;
    color: #757575;
    margin: 2px 24px 20px 24px;
}

/*footer*/
.footer{
    background-color: #2F303A;
}
.footer .container{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}
.address-address{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 9px;
}
.address-mail{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
}
.address-tel{    
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.section-list{
    display: flex;
}
.section-list-item{
    margin: 94px 15px 0px 15px;
}
.section-list-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 700;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}
.section-list-span{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #757575;
}
.hero-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 44px;
    font-weight: 700;
    Letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    display: block;
    width: 696px;
    padding-bottom: 30px;
}
.hero{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("images/backgroud.jpg");
}
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
}
.hero-btn{
    background-color: var(--main-color);
    font-family: var(--main-font);
    cursor: pointer;
    align-items: center;
    height: 50px;
    width: 200px;
}
.hero-btn-text{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    text-align: Center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.section4{
    background-color: #F5F4FA;
}
.section4 .container{
    padding-bottom: 94px;
}
.section4-list-item{
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 36px;
    font-weight: 700;
    text-align: Center;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 35px;
    padding-top: 94px;
}
.section4-list-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 500;
    text-align: center;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.section4-paragraf{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    text-align: center;
    Letter-spacing: 0.03em;
    color: #757575;
}
.photo{
    margin: 13px;
    padding-bottom: 81px;
}
.antena{
   align-items: center;
}
.antena-div{
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    align-items: center;
}
.socialmedia-icons {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 56px;
    margin-left: 32px;
    margin-bottom: 18px;
    margin-top: 16px;
  }
  .socialmedia-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
  }
  .socialmedia-link:hover,
  .socialmedia-link:focus{
    fill: #FFFFFF;
    background-color: var(--main-color);
  }
  .own-clients{
    display: block;
  }
  .own-clients-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .own-clients-list-item{
      margin: 50px 15px 93px 15px;
  }
  .own-clients-link{
      display: flex;
      justify-content: center;
      height: 92px;
      width: 170px;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
      cursor: pointer;
  }
  .icons-list-item-clients:focus,
  .icons-list-item-clients:hover,
  .own-clients-link:hover,
  .own-clients-link:focus {
      border-color: var(--main-color);
      fill: var(--main-color)
  }
.icons-list-item-clients{
    fill: #AFB1B8;
}
.container-footer{
    display: flex;
}
.come{
    margin-left: 70px;
    margin-top: 20px;
}
.come-paragraf{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.026;
    color: #FFFFFF;
}
.come-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #FFFFFF;
    cursor: pointer;
}
.come-link:hover,
.come-link:focus{
    background-color: var(--main-color);
}
.come-div{
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 56px;
    margin-bottom: 18px;
    margin-top: 20px;
    fill: #FFFFFF;
}


