:root {
    --main-font: "Roboto", sans-serif;
    --secondery-font: "Raleway", sans-serif;
    --main-color: #2196f3;
}
h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.body {
    font-family: var(--main-font);
}
/*=header=*/
.header {
    border-bottom: 1px solid #ECECEC;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 1200px;
    margin: 0px auto;
}

.black-logo {
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: black;
}
.white-logo{
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
}
.blue-logo{
    Font-family: var(--secondery-font);
    Font-style: normal;
    Font-size: 26px;
    font-weight: 700;
    Line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);
}
.navigation{
    align-self: center;
}
.navigation-list{
    display: flex;
}
.navigation-list-item{
    margin: 32px 23px;
}
.navigation-logo{
    padding: 24px 70px 0px 0px;
}
.navigation-link{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    Letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--main-color);
}
.navigation-mail{
    Font-family: var(--main-font);
    font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 32px 25px 32px 341px;
}
.navigation-tel{
    Font-family: var(--main-font);
    font-style: normal;
    Font-size: 14px;
    font-weight: 500;
    Line-height: 1.026;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 32px 0px 32px 25px;
}
.navigation-mail:focus,
.navigation-mail:hover,
.navigation-tel:focus,
.navigation-tel:hover{
    color: var(--main-color);
}
/*=navigation portfolio=*/
.navigation-portfolio-list{
    display: flex;
}
.navigation-portfolio-list-item{
    margin: 94px 4px 35px 4px;
}
.navigation-portfolio-list-item-btn {
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 500;
    Line-height: 1.625;
    Letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    cursor: pointer;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
}
.navigation-portfolio-list-item-btn:focus,
.navigation-portfolio-list-item-btn:hover{
    color: var(--main-color);
}

/*=all=*/
.all-list{
    display: flex;
    flex-wrap: wrap;
}
.all-list-item{
    margin: 15px;
    width: 370px;
    height: 404px;
    background-color: #FFFFFF;
}
.all-list-item-header {
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 18px;
    font-weight: 700;
    line-height: 2.25;
    Letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 2px 24px;
}
.all-list-item-text{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    Letter-spacing: 0.03em;
    color: #757575;
    margin: 2px 24px 20px 24px;
}

/*footer*/
.footer{
    background-color: #2F303A;
    padding-top: 55px;
}
.address-address{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-mail{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-tel{    
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-tel-item{    
    padding-bottom: 60px;;
}
.section-list{
    display: flex;
}
.section-list-item{
    margin: 94px 15px 0px 15px;
}
.section-list-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 700;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}
.section-list-span{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 1.5;
    Letter-spacing: 0.03em;
    color: #757575;
}
.hero-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 44px;
    font-weight: 700;
    Letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 200px;
    padding-right: 260px;
    padding-left: 260px;
    text-align: center;
}
.hero{
    background-color: #2F303A;
}
.hero-btn{
    background-color: var(--main-color);
    cursor: pointer;
    padding: 10px 38px 10px 39px;
    align-content: center;
    margin-bottom: 200px;
    margin-top: 40px;
    margin-left: 485px;
}
.hero-btn-text{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    text-align: Center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.section4{
    background-color: #F5F4FA;
}
.section4-list-item{
    margin: 15px;
    background-color: #FFFFFF;
}
.section-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 36px;
    font-weight: 700;
    text-align: Center;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 35px;
    padding-top: 94px;
}
.section4-list-header{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 500;
    text-align: center;
    Letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.section4-paragraf{
    Font-family: var(--main-font);
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    text-align: center;
    Letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 45px;
}
.photo{
    margin: 13px;
    padding-bottom: 81px;
}
