.footer{
    background-color: #2F303A;
}
.footer .container{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}
.address-address{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 9px;
}
.address-mail{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
}
.address-tel{    
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.come{
    margin-left: 70px;
    margin-top: 20px;
}
.come-paragraf{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.026;
    color: #FFFFFF;
}
.come-div{
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 56px;
    margin-bottom: 18px;
    margin-top: 20px;
    fill: #FFFFFF;
}
.signe-up{
    margin-top: 20px;
    margin-left: 78px;
}
.signe-up-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signe-up-paragraf{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.026;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.signe-up-input{
    background-color: transparent;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
    color:#FFFFFF4D;
    width: 358px;
    height: 50px;
    padding-left: 15px;
}
.signe-up-btn-paragraf{
    font-family: var(--main-font);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 10px 25px;
    text-align: left;
}
.signe-up-svg{
    position: absolute;
    top: 13px;
    left: 140px;
}