.header {
    border-bottom: 1px solid #ECECEC;
}
.navigation{
    align-self: center;
}
.navigation-list{
    display: flex;
}
.navigation-list-item{
    margin: 0px 23px;
}
.address-list{
    display: flex;
    align-items: center;
}
.envelop-tel{
    margin-right: 10px;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--main-color);
    }
}