
@media screen and (max-width: 767px) {
    .hero{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/background-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        &__header{
            font-family: var(--main-font);
            font-style: normal;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            text-align: center;
            display: block;
            padding-bottom: 30px;
            padding-top: 118px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/background-mobile@2x.jpg");
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .hero{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/background-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        &__header{
            font-family: var(--main-font);
            font-style: normal;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            text-align: center;
            display: block;
            padding-bottom: 30px;
            padding-top: 118px;
            padding-left: 160px;
            padding-right: 160px;
        }
    }
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/background-tablet@2x.jpg");
    }
}

@media screen and (min-width:1200px) {
    .hero{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/backgroud.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        &__header{
            font-family: var(--main-font);
            font-style: normal;
            font-size: 44px;
            font-weight: 700;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            text-align: center;
            display: block;
            width: 696px;
            padding-bottom: 30px;
            padding-top: 140px;
        }
    }
}
