
.hero{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/backgroud.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    &__header{
        font-family: var(--main-font);
        font-style: normal;
        font-size: 44px;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: center;
        display: block;
        width: 696px;
        padding-bottom: 30px;
    }
}
