.section-list{
    display: flex;
}
.section-list-item{
    margin: 94px 15px 0px 15px;
}
.section-list-header{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}
.section-list-span{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #757575;
}
.antena{
    align-items: center;
 }
 .antena-div{
     padding-bottom: 25px;
     padding-top: 25px;
     margin-bottom: 30px;
     background-color: #F5F4FA;
     align-items: center;
 }