@media screen and (max-width: 767px) {
  .section4 {
    background-color: #f5f4fa;
  }
  .section4-list {
    padding-bottom: 45px;

    &__item {
      margin-bottom: 30px;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__header {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__paragraf {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section4 {
    background-color: #f5f4fa;
  }
  .section4-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 45px;
    &__item {
      margin: 15px;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__header {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__paragraf {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section4 {
    background-color: #f5f4fa;
  }
  .section-header {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    text-align: Center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 35px;
    padding-top: 94px;
  }
  .section4-list {
    display: flex;
    padding-bottom: 94px;
    &__item {
      margin: 15px;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__header {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__paragraf {
      font-family: var(--main-font);
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}
