
.photo-list{
    display: flex;
    margin-bottom: 94px;

    &__item{
        position: relative;

        &:not(:last-child){
            margin-right: 30px;
        }
    }
    
    &__photo{
        display: flex;
        justify-content: space-between;

        &-text{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            height: 70px;
            bottom: 0;
            left: 0;
            background-color: rgba(47, 48, 58, 0.8);
            color: #FFFFFF;
            font-family: var(--main-font);
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            line-height: 1.026;
            letter-spacing: 0.03em;
        }
    }  
}