.black-logo {
    font-family: var(--secondery-font);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: black;
}
.white-logo{
    font-family: var(--secondery-font);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
}
.blue-logo{
    font-family: var(--secondery-font);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);
}
.navigation-logo{
    padding: 18px 70px 0px 0px;
}