.logo{
    padding: 15px 70px 15px 0px;
    font-family: var(--secondery-font);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.908;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);

    &_black {
        color: black;
    }
    &_white{
        color: #FFFFFF;
    }
}