.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 581px;
    width: 528px;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__form{
        margin: 20px 40px;
    }
    &__text{
        text-align: center;
        font-family: var(--main-font);
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        line-height: 1.465;
        letter-spacing: 0.03em;
    }
    &__div{
        position: relative;
    }
    &__label{
        font-family: var(--main-font);
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 0.879;
        letter-spacing: 0.01em;
        padding-top: 12px;
        padding-bottom: 4px;
        display: flex;
        color: #757575;
    }
    
    &__svg{
        position: absolute;
        left: 15px;
        top: 40px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__text-area{
        resize: none;
        width: 100%;
        min-height: 120px;
        border: 1px solid #21212133;
        border-radius: 4px;
        outline: none;
        padding: 12px 16px;
        font-family: var(--main-font);
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 0.879;
        letter-spacing: 0.01em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:focus,
        &:hover{
            border-color: var(--main-color);
        }
    }
    &__input{
        width: 100%;
        border: 1px solid #21212133;
        border-radius: 4px;
        padding: 11px 0px 11px 42px;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:focus,
        &:hover{
            border-color: var(--main-color);
    
            &+ .modal-svg,
            &+ .modal-svg{
                fill: var(--main-color);
            }
        }
    }
    &__checkbox-div{
        display: flex;
        justify-content: center;
    }
    &__checkbox-label-paragraf{
        font-family: var(--main-font);
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #757575;
        display: inline-block;
        padding-left: 5px;
    }
    &__checkbox-label::before{
        display: inline-block;
        content: "";
        width: 16px;
        height: 16px;
        border: 3px solid #000;
        border-radius: 3px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__checkbox-input{
        display: none;
    }
    &__checkbox-input:checked + &__checkbox-label::before{
        background-color: var(--main-color);
        border:none;
        background-image: url("../images/checkbox.svg");
        background-size: contain;
        border-radius: 3px;
        background-position: 100%;
        background-repeat: no-repeat;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link-agree{
        color: var(--main-color);
        text-decoration: underline;
    }
}