.close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
.modal-send{
    display: flex;
    justify-content: center;

    &__btn{
        font-family: var(--main-font);
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        text-align: center;
        background-color: var(--main-color);
        border: none;
        border-radius: 4px;
        min-height: 50px;
        min-width: 200px;
        cursor: pointer;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
