.navigation-portfolio-list__btn {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    cursor: pointer;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        background-color: var(--main-color);
        color: white;
    }
}
