.socialmedia {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 56px;
    margin-left: 32px;
    margin-bottom: 18px;
    margin-top: 16px;

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #afb1b8;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            fill: #FFFFFF;
            background-color: var(--main-color);
        }
    }
    &__come-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        fill: #FFFFFF;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
        background-color: var(--main-color);
        }
    }
}


