.all-list{
    display: flex;
    flex-wrap: wrap;
}
.all-list-item{
    margin: 15px;
    width: 370px;
    height: 404px;
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-list-item:focus,
.all-list-item:hover .anime-information{
    transform: translate(0,0);
    transition-duration: 500ms;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.all-list-item-header {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 2px 24px;
}
.all-list-item-text{
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 2px 24px 20px 24px;
}
.anime-information{
    position: absolute;
    width: 370px;
    height: 294px;
    font: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    transform: translate(0, 294px);
    transition-duration: 500ms;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.anime-information:hover{
    transform: translate(0,0);
    transition-duration: 500ms;
}
.all-list-item-div{
    position: relative;
    z-index: 999;
    overflow: hidden;
    background-color: #FFFFFF;
}